

@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {

  /*font stuff*/
    .content {
    /* Body content */
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 1.65;

    h1 {
     font-family: 'Grandstander',;
     font-weight: 600; /* force override */
     font-size: 3.5rem;
     color: #C67771;
      
    }

    h2 {
      font-family: 'Capriola', ital;
      font-weight: 700;
      font-size: 2.1rem;
      color: #B95750;
    }

     h3 {
      font-family: 'Capriola', ital;
      font-weight: 400;
      font-size: 1.9rem;
      color: #B95750;
    }
      
    h4 {
      font-family: 'Capriola', serif;
      font-weight: 400;
      font-size: 1.4rem;
      color: #716197;
    }

          /* Italic */
    em {
      color: #716197;
    }

    /* Bold */
    strong {
      color: #C67771;
    }

    /* Bold + Italic */
    strong em,
    em strong {
      color: #716197;
    }
  } /*content*/
  
  /* RIGHT SIDEBAR */
  .sidebar {
    width: 350px !important;
    font-size: 0.95rem;
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
  }
  
  .sidebar .file-item .title {
    font-size: 0.95rem;
    color: #ddd;
    font-weight: 500;
  }

  .sidebar .file-item svg {
    width: 18px;
    height: 18px;
    stroke: #aaa;
  }

  .sidebar .folder-title {
    font-size: 0.9rem;
    font-weight: 500;
    color: #bbb;
  } /*left sidebar*/

  /*LEFT SIDEBAR*/
.filetree-sidebar {
  width: 320px !important;
}


  
} /*body*/
